@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS Variables for Light and Dark Mode */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global Styles for Body */
body {
  @apply bg-[var(--background)] text-[var(--foreground)] font-sans;
}

/* Custom Utilities Layer */
@layer utilities {
  /* Custom Text Balance Utility */
  .text-balance {
    text-wrap: balance;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}